<div class="col-md-4 offset-md-4 card card-body mt-5">
    <h4>Add Product!!!</h4>
    <div class="spinner-border text-success m-auto" role="status" 
    *ngIf="isLoading">
        <span class="sr-only">Loading...</span>
    </div>
    <form #addProductForm='ngForm' *ngIf="!isLoading"
    (ngSubmit)="addProduct(addProductForm)">
        <input type="text" name="name" #name='ngModel' ngModel
        class="form-control mb-3" placeholder="Enter Product Name...">
        <input type="text" name="imgurl" #imgurl='ngModel' ngModel
        class="form-control mb-3" placeholder="Enter Image URL...">
        <input type="number" name="price" #price='ngModel' ngModel
        class="form-control mb-3" placeholder="Enter Product Price...">
        <input type="text" name="description" #description='ngModel' ngModel
        class="form-control mb-3" placeholder="Enter Description...">
        <div class="btn-group float-right">
            <button type="reset" class="btn btn-outline-dark">Reset</button>
            <button type="submit" class="btn btn-outline-primary">Submit</button>
        </div>
    </form>
</div>
