<div class="card card-body col-md-3 float-left" 
*ngFor="let product of productService.products">
    <img src="{{product.imgurl}}" class="card-img-top" height="220px">
    <h4 class="text-center">{{product.name}}</h4>
    <P>{{product.price}}</P>
    <p>{{product.description}}</p>
    <div class="btn-group">
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-outline-warning" 
        data-toggle="modal" data-target="#exampleModal"
        (click)='selectProduct(product)'>
            Update
        </button>
      
      <!-- Modal -->
      <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Update Product</h5>
              <button type="button" class="close" (click)="callGetData()"
              data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form #updateProductForm='ngForm'
                (ngSubmit)="updateProduct(updateProductForm)">
                    <input type="hidden" name="id" #id="ngModel"
                    [(ngModel)]= 'selectedProduct.id'>
                    
                    <label for="name">Name</label>
                    <input type="text" name="name" #name='ngModel' 
                    [(ngModel)]= 'selectedProduct.name'
                    class="form-control mb-3" placeholder="Enter Product Name...">
                    
                    <label for="imgurl">Image URL</label>
                    <input type="text" name="imgurl" #imgurl='ngModel' 
                    [(ngModel)]= 'selectedProduct.imgurl'
                    class="form-control mb-3" placeholder="Enter Image URL...">
                    
                    <label for="price">Price</label>
                    <input type="number" name="price" #price='ngModel' 
                    [(ngModel)]= 'selectedProduct.price'
                    class="form-control mb-3" placeholder="Enter Product Price...">
                    
                    <label for="description">Description</label>
                    <input type="text" name="description" #description='ngModel' 
                    [(ngModel)]= 'selectedProduct.description'
                    class="form-control mb-3" placeholder="Enter Description...">
                    
                    <div class="btn-group float-right">
                        <button type="reset" class="btn btn-outline-dark">Reset</button>
                        <button type="submit" class="btn btn-outline-primary">Submit</button>
                    </div>
                </form>
            </div>
          </div>
        </div>
      </div>
        <button class="btn btn-outline-danger" (click)="deleteProduct(product)"
        >Delete</button>
    </div>
</div>
